{% extends 'maintenance/logined_base.html' %}
{% load static %}

{% block container %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-6 col-sm-auto text-center">
      <h1>Mileage events list</h1>
      <ul class="list-group">
        {% for event in object_list %}
        <li class="list-group-item">
          {{ event }}&nbsp;
          <a href="{% url 'edit_mileage' pk=event.pk %}?next={{request.path}}" class="btn btn-primary btn-sm">edit</a>
          <a href="{% url 'delete_mileage' pk=event.pk %}?next={{request.path}}" class="btn btn-danger btn-sm">delete</a>
        </li>
        {% empty %}
        <li class="list-group-item">No data</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}