{% extends 'maintenance/logined_base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}

{% block container %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-md-5 col-sm-auto text-center">
      <div class="card border border-primary-subtle rounded-3 mb-3">
        <div class="card-header text-primary-emphasis bg-light-subtle">
          <img class="card-img-top" src="{% static 'maintenance/img/car_rightside.svg'%}" alt="Car image" height="50px">
          <br>
          {{object}}
        </div>
        <div class="card-body text-start">
          <p class="card-text">
            <div class="row row-cols-2">
              <div class="col"><i class="fa-solid fa-passport"></i> VIN:</div>
              <div class="col" style="font-size: 0.9rem;">{{object.vin_code}}</div>
              <div class="col"><i class="fa-solid fa-screwdriver-wrench"></i> Events counter:</div>
              <div class="col">{{object.events.count}}</div>
              <div class="col"><i class="fa-solid fa-road"></i> Mileage:</div>
              <div class="col">{{object.vehicle_mileage|intcomma}} km</div>
              <div class="col"><i class="fa-solid fa-calendar-days"></i> Last update:</div>
              <div class="col">
                {% if outdate_mileage_level == 1 %}
                  <span class="text-warning"><i class="fa-solid fa-triangle-exclamation fa-fade"></i> {{object.vehicle_last_update_date}}</span>
                {% elif outdate_mileage_level == 2 %}
                  <span class="text-danger"><i class="fa-solid fa-circle-exclamation fa-fade"></i> {{object.vehicle_last_update_date}}</span>
                {% else %}
                  {{object.vehicle_last_update_date}}
                {% endif %}
              </div>
            </div>
          </p>
          <p class="text-center">
            <a href="{% url 'add_event' vin_code=object.vin_code %}?next={{request.path}}" class="btn btn-outline-primary btn-sm"><i class="fa-regular fa-calendar-plus"></i> Add new event</a>
          <a href="{% url 'add_mileage' vin_code=object.vin_code %}?next={{request.path}}" class="btn btn-outline-info btn-sm"><i class="fa-solid fa-road-circle-check"></i> Update mileage</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col col-md-6 col-sm-auto pb-2">
      <ul class="list-group" style="font-size: 0.8rem;">
      {% for planed_work in planed_works %}
        <li class="list-group-item border-primary-subtle">
          <div class="ms-2 me-1">
            <div class="fw-bold text-primary-emphasis text-center pb-1">
              {{planed_work.work}}
            </div>
            {% if planed_work.work.interval_km %}
              <div class="progress" role="progressbar" aria-label="Remaining progress" aria-valuenow="{{planed_work.remaining_procentage}}" aria-valuemin="0" aria-valuemax="100" style="height: 20px">
                {% if planed_work.remaining_procentage < 80 %}
                <div class="progress-bar" style="width: {{planed_work.remaining_procentage}}%">{{planed_work.remaining_procentage}}%</div>
                {% elif planed_work.remaining_procentage > 80 and planed_work.remaining_procentage < 90 %}
                <div class="progress-bar bg-warning text-dark" style="width: {{planed_work.remaining_procentage}}%">{{planed_work.remaining_procentage}}%</div>
                {% else %}
                <div class="progress-bar bg-danger" style="width: {{planed_work.remaining_procentage}}%">{{planed_work.remaining_procentage}}%</div>
                {% endif %}
              </div>
              {% if planed_work.mileage_delta > 0 %}
              <span class="text-info">mileage remaining:</span> <span class="text-light"><b>{{planed_work.mileage_delta|intcomma}}</b></span> km (every {{planed_work.work.interval_km|intcomma}} km)
              {% else %}
              <span class="text-danger"><i class="fa-solid fa-circle-exclamation"></i></span> mileage remaining: <span class="text-danger"><b>over {{planed_work.mileage_delta|abs|intcomma}}</b></span> km 
              (every {{planed_work.work.interval_km|intcomma}} km)
              {% endif %}
            {% endif %}
            <br>
            <span class="text-info">last event:</span> <span class="text-light"><b>{{planed_work.last_event_date|date:"d.m.Y"}}</b></span>
            {% if planed_work.trigger == planed_work.trigger.DATE %}
            <span class="text-warning">(expired {{planed_work.date_delta.days}} days ago)</span>
            {% endif %}
            <br>
            There are only <span class="text-light"><b>{{planed_work.current_event_counter}}</b></span> of these events.&nbsp;
            <a class="link-opacity-50-hover" href="{% url 'event_by_type' pk=planed_work.work.pk %}">See all</a>
          </div>
        </li>
      {% empty %}
      No data.
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 justify-content-md-center">
    <div class="col col-md-2 col-sm-auto text-center p-1">
      <a href="{% url 'events_list' %}?next={{request.path}}" class="btn btn-outline-success btn-sm"><i class="fa-solid fa-book"></i> See all events list</a>
    </div>
    <div class="col col-md-2 col-sm-auto text-center p-1">
      <a href="{% url 'list_of_works' vin_code=object.vin_code %}" class="btn btn-outline-secondary btn-sm"><i class="fa-solid fa-screwdriver-wrench"></i> List of works</a>
    </div>
    <div class="col col-md-2 col-sm-auto text-center p-1">
      <a href="{% url 'index' %}" class="btn btn-outline-primary btn-sm"><i class="fa-solid fa-list"></i> Back to vehicle list</a>
    </div>
  </div>
</div>
{% endblock %}