{% extends 'maintenance/logined_base.html' %}
{% load static %}

{% block container %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-6 col-sm-auto text-center">
      <h1>Vehicle list</h1>
      <ul class="list-group">
        {% for vehicle in object_list %}
        <li class="list-group-item">
          <a href="{{ vehicle.get_absolute_url}}" class="link-primary">{{ vehicle }}</a>
          <a href="{% url 'edit_vehicle' pk=vehicle.pk %}?next={{request.path}}" class="btn btn-primary btn-sm">edit</a>
          <a href="{% url 'delete_vehicle' pk=vehicle.pk %}?next={{request.path}}" class="btn btn-danger btn-sm">delete</a>
        </li>
        {% empty %}
        <li class="list-group-item">No data</li>
        {% endfor %}
      </ul>
      <a href="{% url 'add_vehicle' %}" class="btn btn-primary mt-1">Add new vehicle</a>
      <a href="{% url 'list_of_works' %}" class="btn btn-secondary">List of works</a>
      <a href="{% url 'events_list' %}" class="btn btn-success">Back to Events list</a>
    </div>
  </div>
</div>
{% endblock %}